body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 10px solid black;
    padding: 8px;
    text-align: left;
    width:10%;
}

th {
    background-color: #0046be;
}

tr:hover {
    background-color: #0046be;
}
.edit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}