h1{
    text-align: left;
    background-color: #2b5df5;
    color: black;
    margin: auto;
    font-family: Georgia;
    font-weight: 600;
    font-size: 45px;
    width: 70%;
}
.tb-select {
    -webkit-appearance: none;
    appearance: none;
    height: 45px;
    line-height: 18px;
    margin-right: -38px;
    padding: 0 var(--size-150);
    transition: border .2s cubic-bezier(0,0,.2,1);
    width: 100%;
}

.searchbar{
    width: 200px;
    padding: 10px;
}
.username_password{
  width: 200px;
  float: right;
  padding: 10px;
}
.navbar {
  display: inline-block;
  width: 8%;
  text-align: center;
  padding: 20px 18px;
  overflow: hidden;
  background-color: #0046be;
  color: white;
  text-decoration: none;
  border: 1px solid #ccc;
}
a :hover{
  background-color: red;
}


/*
table, th, td{
    margin: auto;
    height: 500px;
    width: 20%;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
  } */

  .filter-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding: 10px 15px;
  }
  
  .filter-button.active {
    background-color: red;
  }
  .element{
   display: inline-block;
   border: 1px solid black;
   border-collapse: collapse;
   width:20%;
  }
  div#container{display: table;}
  div#row{display: table-row;}
  div#row div{display: table-cell; border:1px solid black; width: 20%}
  .button {
    top:5px;
    width: 10%;
    background-color:#0046be;
    color: #fff;
    border:solid; 
    padding:15px;
  }
  .button:hover {
    background-color:red;
    transition: 0.7s;
  }
  
  
  
 