.header{
    text-align: left;
    background-color: #2b5df5;
    color: yellow;
    margin: auto;
    font-family: Georgia;
    width: 100%;
    padding: 10px 0px;
    text-decoration: none;
}
.product_name{
  color: dodgerblue;
  font-size: 16px;

}
.searchbar{
    width: 200px;
    padding: 10px;
}
.username_password{
  width: 200px;
  float:right;
  display: block;
}
.welcome{
  width: 150px;
  height: 10px;
  float:right;
  display: block;
  font-size: 16px;
}
.navbar {
  display:inline-block; 
  border:1px solid black; 
  width: 9%;
  background-color: #0046be;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px;
}

.add-to-cart-btn {
  display: inline-block;
  background-color: yellow;
  color: black;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

  .filter-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding: 10px 15px;
  }
  
  .filter-button.active {
    background-color: red;
  }
  .element{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;

    margin: 10px;
    text-align: center;
    font-family: arial;
    text-decoration: none;
    }

  .price {
    color: grey;
    font-size: 22px;
  }
  
  .element button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .element button:hover {
    opacity: 0.7;
  }

  div#container{display: table; width: 100%;}
  div#row{display: table-row;}
  div#row div{display: table-cell; border:1px solid black; width: 20%;}

  
  
  
  li {
    margin: 0 0 10px;
    color: white;
  }
  li a{
    color: white;
    text-decoration: none;
  }
 .navbar:hover{
  background-color: red;
 }

 .a-color-base {
  color: #0F1111!important;
}
.a-size-base-plus {
  font-size: 20px;
  line-height: 100px;
  margin-bottom: 5px;
}
.a-text-bold{
  font-weight: 400px;
}
.a-text-normal {
  font-weight: 400px;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}
.container {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  height: 500px;
  justify-content: center;
}
.column{
  float: left;
  width:30%;
}
.buy_column{
  width: 10%;
  height: 300px;
  text-align: left;
  border: 1px solid black;
  margin: 100px;
}

.account{
  width: 150px;
  height: 10px;
  float:right;
  display: block;
  text-align: center;
  padding:13px;
}

a.header-link {
  text-decoration: none;
  display: block;
  width: 100%;
}